<% layout('layouts/boilerplate') %>
    <div id="cluster-map"></div>
    <ul>
        <h1>List of all campgrounds</h1>
        <% for (let campground of campgrounds) { %>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-4">
                        <% if(campground.images.length > 0) { %>
                        <img src="<%= campground.images[0].url %>" alt="" class="img-fluid">
                        <% } else { %>
                        <img src="" alt="" class="img-fluid">
                        <% } %>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><%= campground.name %></h5>
                            <p class="card-text"><%= campground.description %></p>
                            <p class="card-text">
                                <small class="text-muted"><%= campground.location %></small>
                            </p>
                            <a href="/campground/<%= campground._id %>" class="btn btn-primary">View <%= campground.name %></a>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
    </ul>
    <script>
        const maptilerApiKey = '<%- process.env.MAPTILER_API_KEY %>';
        const campgrounds = { features: <%- JSON.stringify(campgrounds) %>}
    </script>
    <script src="/javascripts/clusterMap.js"></script>